registry=https://registry.npmjs.org/
@blockscom:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
node-options=--experimental-require-module
node-options=--max_old_space_size=4096

link-workspace-packages=true
hoist-pattern[]=*vite*
hoist-pattern[]=@vitejs/*
hoist-pattern[]=*opentelemetry*
hoist-pattern[]=@opentelemetry/*
shamefully-hoist=true
engine-strict=true